@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.work_sans__font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display : flex;
}

.navbar,
.banner {
  margin: 0 auto;
  max-width: 1440px;
}

.primary_btn {
  background-color: #FF900E;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
}

/* Header CSS */
.header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar CSS */
.navbar {
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

#logo {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
}

.nav_menu {
  gap: 50px;
  list-style: none;
}

.nav_link {
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

/* Banner Section Style */
.banner {
  margin-top : 100px;
  text-align: center;
}

.banner_content {
  margin-bottom: 50px;
}

.banner_content h1{
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin: 0 auto;
  max-width: 868px;
}

.banner_content p {
  color: #727272;
  line-height: 26px;
  margin: 20px auto;
  max-width: 868px;
}

#banner_image {
  width: 100%;
  vertical-align: middle;
}

/* Responsive Styles */
@media screen and (max-width: 576px) {
  .primary_btn {
    font-size: 1rem;
  }

  .navbar {
    flex-direction: column;
    gap: 30px;
  }

  #logo {
    font-size: 1.8rem;
  }

  .nav_menu {
    flex-direction: column;
    text-align: center;
  }

  .banner {
    padding : 0 20px;
  }

  .banner_content h1{
    font-size: 2.5rem;
    margin: 0 auto;
    max-width: 868px;
  }
}