@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.work_sans__font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display : flex;
}

.navbar,
.banner,
.main {
  margin: 0 auto;
  max-width: 1440px;
  padding-inline: 20px;
}

.main > section {
  margin-top: 130px;
}

.primary_btn {
  background-color: #FF900E;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
}

.gray_highlight {
  color: #727272;
  font-weight: 500;
}

.orange_highlight {
  color: #FF900E;
}

.section_title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

.section_desc {
  color: #727272;
  line-height: 26px;
  margin: 24px 0 0px;
  max-width: 542px;
}

/* Header CSS */
.header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar CSS */
.navbar {
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

#logo {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
}

.nav_menu {
  gap: 50px;
  list-style: none;
}

.nav_link {
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

/* Banner Section Style */
.banner {
  margin-top : 100px;
  text-align: center;
}

.banner_content {
  margin-bottom: 50px;
}

.banner_content h1{
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin: 0 auto;
  max-width: 868px;
}

.banner_content p {
  color: #727272;
  line-height: 26px;
  margin: 20px auto;
  max-width: 868px;
}

#banner_image {
  width: 100%;
  vertical-align: middle;
}

/* Feature Section CSS */
.feature {
  align-items: center;
  gap: 70px;
  padding: 0 60px;
}

.feature_image_container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.feature_image_container img {
  width: 100%;
}

.feature_content {
  max-width: 537px;
}

.feature_content .primary_btn {
  margin-top: 32px;
}

/* Fact Section CSS */
.fact_card__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 100px;
}

.fact_card {
  border: 1px solid #FF900E;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 241px;
  width: 241px;
  text-align: center;
}

.fact_card h3 {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact_card p {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}



/* Responsive Styles */
@media screen and (max-width: 576px) {
  .primary_btn {
    font-size: 1rem;
  }

  .navbar {
    flex-direction: column;
    gap: 30px;
  }

  #logo {
    font-size: 1.8rem;
  }

  .nav_menu {
    flex-direction: column;
    text-align: center;
  }

  .banner_content h1{
    font-size: 2.5rem;
    margin: 0 auto;
    max-width: 868px;
  }

  .feature{
    align-items: start;
    flex-direction: column;
  }

  .feature_image_container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .feature_content {
    text-align: center;
  }

  .feature_content h2 {
    font-size: 2rem;
  }

  .fact_card__container {
    gap: 24px;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar {
    padding-inline: 20px;
  }
  .feature{
    flex-direction: column;
  }

  .fact_card__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
  }
}